* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
    /* 居中 */
    display: flex;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    background-color: #bb4d6d;
}
.monsterText {
    color: #fff;
}
.monster {
    position: relative;
    width: 110px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    /* 使弹性盒子里的元素按列排列 */
    flex-direction: column;
    background-color: #e55a54;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: jumping 0.8s infinite alternate;
}
.monster .eye {
    width: 40%;
    height: 40%;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
}
.monster .eye .eyeBall {
    width: 50%;
    height: 50%;
    background-color: #0c4475;
    border-radius: 50%;  
    animation: eyemove 1.6s infinite alternate;
}
.monster .mouth {
    width: 32%;
    height: 12px;
    background-color: #fff;
    border-radius: 12px;
}
.monster::before,
.monster::after {
    position: absolute;
    content: '';
    display: block;
    width: 20%;
    height: 10px;
    top: -10px;
    left: 50%;
    border-radius: 10px;
    background-color: #fff;
}
.monster::before {
    transform: translateX(-70%) rotate(45deg);
}
.monster::after {
    transform: translateX(-30%) rotate(-45deg);
}
.monster.blue {
    background-color: #0c4475;
    animation-delay: 0.5s;
}
.monster.blue .eyeBall,
.monster.blue .mouth {
    background-color: #bb4d6d;
}

@keyframes jumping {
    50% {
        top: 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    100% {
        top: -50px;
        box-shadow: 0 110px 20px rgba(0, 0, 0, 0.2);
    }
}
@keyframes eyemove {
    from,
    10% {
        transform: translateX(50%);
    }
    90%,
    100% {
        transform: translateX(-50%);
    }
}

.pageLoading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    flex-direction: column;
    background-color: #0c4475;
    transition: opacity 0.5s;
}
.pageLoading .loading {
    width: 200px;
    height: 8px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    overflow: hidden;
}
.pageLoading .loading .bar {
    width: 0%;
    height: 100%;
    background-color: #bb4d6d;
}
.pageLoading.complete {
    opacity: 0;
}
.pageLoading.complete .monster {
    transition: 0.5s;
    transform: scale(0.1) rotateZ(360deg);
}